<main>
    <h2>Welcome, {{username}}!</h2>
    <h2>Tasks</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Deadline</th>
                <th>Description</th>
                <th>Validated</th>
            </tr>
        </thead>
        <tbody>
            {{#each tasks}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.dateSubmit}}</td>
                <td>{{this.description}}</td>
                <td>{{this.Validated}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</main>